 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 0;
}
.confettiContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
.buttonsContainer {
    display: flex;
    gap: 16px;
}