.validatorPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}
.textarea {
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.result{
    font-family: Arial, Helvetica, sans-serif;
}
.jsonViewerContainer {
    font-family: Arial, Helvetica, sans-serif;
}