.gamePage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.gamePageButtons {
  display: flex;
  gap: 60px;
  font-size: 18px;
}
.gamePageButton {
    display: flex;
    gap: 10px;
}
.gamePageImage {
  width: 40px;
  height: 40px;
}
